
<div class="card-body">
    <h5 class="card-title">Kérem adja meg a magasságát és a súlyát</h5>
    <form>
        <div class="form-row">
            <div class="col-md-6 mb-3">
            <label for="heigth-input">Magasság (cm)</label>
            <input 
                type="number"
                class="form-control" 
                id="heigth-input"
                min="0"
                (input)="setHeight($event.target.value)"
                value="{{height}}"
                required>
            </div>
            <div class="col-md-6 mb-3">
            <label for="weigth">Súly (kg)</label>
            <input
                type="number"
                class="form-control"
                id="weigth"
                min="0"
                (input)="setWeigth($event.target.value)"
                value="{{weight}}"
                required>
            </div>
        </div>
        <p>
            A Te neved {{firstName}}, {{age}}éves vagy és {{gender}}. A testsúlyod {{weight}} kg és {{height}}
            méter magas vagy. Amennyiben szeretnéd megtudni a BMI értékedet, kattints a tovább
            gombra.
        </p>
        <div class="button-wrapper">
            <button
                class="btn btn-secondary"
                (click)="back()">
                <span> < </span>
                <span>Vissza</span>
            </button>
            <button
                class="btn btn-primary"
            (click)="submit()"
            [disabled]="!formIsValid">
            <span>Befejezés</span>
            <span>></span>
        </button>
        </div>
    </form>


</div>