
<div class="card-body">
    <h5 class="card-title">Kérem adja meg a magasságát és a súlyát</h5>
    <form class="needs-validation measur-form" novalidate>
        <div class="form-element">
            <label for="heigth-input">Magasság (cm)</label>
            <input 
                type="number"
                class="form-control" 
                id="heigth-input"
                min="0"
                (input)="setHeight($event.target.value)"
                value="{{height}}"
                required>   
        </div>
        <div class="form-element">
            <label for="weight">Súly (kg)</label>
            <input
                type="number"
                class="form-control"
                id="weight"
                min="0"
                (input)="setWeight($event.target.value)"
                value="{{weight}}"
                required>
        </div>
        <strong class="summary-text">
            A Te neved {{firstName}}, {{age}}éves vagy és {{gender}}. A testsúlyod {{weight}} kg és {{heightInM}}
            méter magas vagy. Amennyiben szeretnéd megtudni a BMI értékedet, kattints a befejezés
            gombra.
        </strong>
        <div class="button-wrapper">
            <button
                class="btn btn-danger"
                data-toggle="modal" data-target="#staticBackdrop">
                <span>Törlés</span>
            </button>
            <button
                class="btn btn-secondary"
                (click)="navigateBack()">
                <span> < </span>
                <span>Vissza</span>
            </button>
            <button
                class="btn btn-primary"
                [disabled]="!formIsValid"
                (click)="submit()">
                <span>Befejezés</span>
                <span>></span>
            </button>
        </div>
    </form>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Biztos a műveletben?</h5>
        </div>

        <div class="modal-footer">
            <div class="button-wrapper">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nem</button>
                <button type="button" class="btn btn-primary" (click)="cancel()" data-dismiss="modal">Igen</button>
            </div>
        </div>
    </div>
</div>
</div>