
<div class="card-body">
    <h5 class="card-title">Kérem adja meg a magasságát és a súlyát</h5>
    <form class="needs-validation measur-form" novalidate>
        <div class="form-element">
            <label for="heigth-input">Magasság (cm)</label>
            <input 
                type="number"
                class="form-control" 
                id="heigth-input"
                min="0"
                (input)="setHeight($event.target.value)"
                value="{{height}}"
                required>   
        </div>
        <div class="form-element">
            <label for="weight">Súly (kg)</label>
            <input
                type="number"
                class="form-control"
                id="weight"
                min="0"
                (input)="setWeight($event.target.value)"
                value="{{weight}}"
                required>
        </div>
        <p class="summary-text">
            A Te neved 
            <strong>
                {{firstName}}
            </strong>,
            <strong>
                {{age}}éves
            </strong>
             vagy és 
             <strong>
                {{gender}}
             </strong>
            . A testsúlyod 
            <strong>
                {{weight}} kg
            </strong>
             és 
            <strong>
                {{heightInM}} méter
            </strong> 
              magas vagy. Amennyiben szeretnéd megtudni a BMI értékedet, kattints a befejezés
            gombra.
        </p>
        <div class="button-wrapper">
            <button
                class="btn btn-danger"
                data-toggle="modal" data-target="#staticBackdrop">
                <span>Törlés</span>
            </button>
            <button
                class="btn btn-secondary"
                (click)="navigateBack()">
                <span> < </span>
                <span>Vissza</span>
            </button>
            <button
                class="btn btn-primary"
                [disabled]="!formIsValid"
                (click)="submit()">
                <span>Befejezés</span>
                <span>></span>
            </button>
        </div>
    </form>
</div>


<!-- Modal -->
<app-confirmation-modal
    (cancel)="cancel($event)">
</app-confirmation-modal>