<div class="splashScreenClass" id="splashScreenClass">
    <h1>Loading...</h1>
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="card-body" *ngIf="isVisible"> 
    <h5 class="card-title">Összegzés</h5>
    <h3 class="summary-text">
        A Te BMI értéked:
        <br>
        <span [ngClass]="{
            'male': gender === 'férfi',
            'female' : gender === 'nő'
        }">{{bmiNumber}}</span>,
        <br>
         ami alapján a(z) <span>{{bmiClass}}</span> csoportba tartozol.
    </h3>

    <div class="button-wrapper">
        <button
            class="btn btn-secondary"
            (click)="fillAgain()">
            <span>Kitöltöm újra</span>
        </button>
        <button
            class="btn btn-primary"
            (click)="modify()">
            <span>Módosítom az előzőt</span>
        </button>
    </div>
</div>
